<div class="row">
    <div class="col-3">
        <app-side-bar></app-side-bar>
    </div>

    <div class="col">

        
        <div>
            <form [formGroup]="form" (ngSubmit)="sendCveusu()">
                <input formControlName="cveusu" type="text">
                <button type="submit">Generar documento</button>
            </form>
            
<!--             <qrcode style="display: none;" [qrdata]="mensajeOriginal2" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
-->            
        </div>


    </div>
    
</div>
