<div class="row">

    
    
    <div class="col-3">
        <app-side-bar></app-side-bar>
    </div>


    <div class="col" style="display: flex; justify-content: center; margin-top: 15%;" >

        @if (spiner) {

            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }@else {

            <form [formGroup]="form" (ngSubmit)="sendCveusu()">



                <div class="input-group">
                    <input formControlName="cveusu" type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                    <button type="submit" class="btn btn-outline-secondary">Generar documentos</button>


                </div>

            </form>

        }




    </div>

</div>

