<div class="bg-dark bordeer-right p-3" id="sidebar">


<h2 class="text-center" >OOMSAPAS</h2>
<hr>

<ul  class="list-group aasdsad">

    <li class="list-group-item "
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/invitacion">
        <h5 class="text-center" style="color: rgb(77, 77, 77);" >Carta Invitacion</h5>
    </li>

    <li class="list-group-item "
        routerLinkActive="active"
        routerLink="/suspension">
        <h5 class="text-center" style="color: rgb(77, 77, 77);" >Orden de suspension</h5>
    </li>

    <li class="list-group-item "
        routerLinkActive="active"
        routerLink="/cobro">
        <h5 class="text-center" style="color: rgb(77, 77, 77);" >Requerimiento de cobro</h5>
    </li>
    
</ul>

</div>